In [7]:
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import Dataset

In [2]:
# load data
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
train.info()
# fully existent attributes: id, title, city, postalCode, latitude, longitude, areaSqm, firstSeenAt, lastSeenAt, rawAvailability, propertyType, coverImageUrl, rent
# not full: isRoomActive (63 missing), postedAgo (6 missing), descriptionNonTranslated (111), descriptionTranslated (10.140), rentDetail (7896), furnish (214), energyLabel (63), gender (536), internet (63), roommates (536), shower (63), toilet (63), kitchen (63), living (63), pets (63), smokingInside (63), matchAge (63), matchGender (63), matchCapacity (63), matchLanguages (63), matchStatus (63)
# omitted_columns = ["id", "title", "city", "postalCode", "latitude", "longitude", "firstSeenAt", "lastSeenAt", "isRoomActive", "rawAvailability", "postedAgo", "descriptionNonTranslated", "descriptionTranslated", ""]...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27915 entries, 0 to 27914
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        27915 non-null  int64
 1   title                     27915 non-null  object
 2   city                      27915 non-null  object
 3   postalCode                27915 non-null  object
 4   latitude                  27915 non-null  float64
 5   longitude                 27915 non-null  float64
 6   areaSqm                   27915 non-null  int64
 7   firstSeenAt               27915 non-null  object
 8   lastSeenAt                27915 non-null  object
 9   isRoomActive              27852 non-null  object
 10  rawAvailability           27915 non-null  object
 11  postedAgo                 27909 non-null  object
 12  descriptionNonTranslated  27804 non-null  object
 13  descriptionTranslated     17775 non-null  object
 14  rentDetail                20019 non-null  object
 15  propertyType              27915 non-null  object
 16  furnish                   27701 non-null  object
 17  energyLabel               27852 non-null  object
 18  gender                    27379 non-null  object
 19  internet                  27852 non-null  object
 20  roommates                 27379 non-null  object
 21  shower                    27852 non-null  object
 22  toilet                    27852 non-null  object
 23  kitchen                   27852 non-null  object
 24  living                    27852 non-null  object
 25  pets                      27852 non-null  object
 26  smokingInside             27852 non-null  object
 27  matchAge                  27852 non-null  object
 28  matchGender               27852 non-null  object
 29  matchCapacity             27852 non-null  object
 30  matchLanguages            27852 non-null  object
 31  matchStatus               27852 non-null  object
 32  coverImageUrl             27915 non-null  object
 33  rent                      27915 non-null  int64
dtypes: float64(2), int64(3), object(29)
memory usage: 7.2+ MB

In [4]:
train.head()

,id,title,city,postalCode,latitude,longitude,areaSqm,firstSeenAt,lastSeenAt,isRoomActive,...,living,pets,smokingInside,matchAge,matchGender,matchCapacity,matchLanguages,matchStatus,coverImageUrl,rent
0,0,West-Varkenoordseweg,Rotterdam,3074HN,51.896601,4.514993,14,2019-07-14 11:25:46.511000+00:00,2019-07-26 22:18:23.142000+00:00,True,...,None,No,No,16 years - 99 years,Not important,1 person,Not important,Not important,https://resources.kamernet.nl/image/913b4b03-5...,500
1,3,Ruiterakker,Assen,9407BG,53.013494,6.561012,16,2019-07-14 11:25:46.988000+00:00,2019-07-18 22:00:31.174000+00:00,False,...,None,No,Yes,18 years - 32 years,Female,1 person,Not important,"Student, Working student",https://resources.kamernet.nl/image/84e95365-6...,290
2,8,Brusselseweg,Maastricht,6217GX,50.860841,5.671673,16,2019-07-14 11:25:47.814000+00:00,2019-08-10 00:14:27.130000+00:00,True,...,None,No,No,16 years - 40 years,Male,4 persons,Dutch English,Student,https://resources.kamernet.nl/image/6e625591-d...,425
3,10,Donkerslootstraat,Rotterdam,3074WL,51.893195,4.516478,25,2019-07-14 11:25:48.140000+00:00,2019-07-16 06:05:32.183000+00:00,False,...,None,No,No,21 years - 99 years,Not important,4 persons,Dutch English Spanish French Italian German Po...,"Student, Working student, Working, Looking for...",https://resources.kamernet.nl/image/ea3aea77-0...,600
4,12,Vorselenburgstraat,Alphen aan den Rijn,2405XJ,52.122335,4.661434,10,2019-07-14 11:25:48.465000+00:00,2019-08-01 00:02:40.516000+00:00,True,...,None,No,Yes,22 years - 40 years,Not important,1 person,Dutch English,"Student, Working student, Working",https://resources.kamernet.nl/image/d0780298-b...,425

In [5]:
train["rentDetail"].unique()
# this probably means NaN means utilities excl.

array([nan, 'Utilities incl.'], dtype=object)

In [6]:
train["propertyType"].unique()

array(['Room', 'Studio', 'Apartment', 'Anti-squat', 'Student residence'],
      dtype=object)

In [7]:
train["furnish"].unique()

array(['Unfurnished', 'Furnished', 'Uncarpeted', nan], dtype=object)

In [8]:
train["matchAge"].unique()

array(['16 years - 99 years', '18 years - 32 years',
       '16 years - 40 years', '21 years - 99 years',
       '22 years - 40 years', '18 years - 30 years',
       '16 years - 30 years', '18 years - 40 years',
       '16 years - 22 years', '16 years - 37 years',
       '16 years - 25 years', '24 years - 35 years',
       '16 years - 21 years', '18 years - 35 years',
       '25 years - 60 years', '16 years - 49 years',
       '26 years - 60 years', '19 years - 25 years',
       '16 years - 24 years', '17 years - 30 years', nan,
       '18 years - 28 years', '22 years - 99 years',
       '24 years - 99 years', '18 years - 29 years',
       '20 years - 40 years', '17 years - 22 years',
       '18 years - 27 years', 'Not important - Not important',
       '16 years - 28 years', '17 years - 35 years',
       '16 years - 35 years', '20 years - 46 years',
       '25 years - 99 years', '18 years - 36 years',
       '30 years - 99 years', '16 years - 50 years',
       '17 years - 20 years', '21 years - 40 years',
       '18 years - 25 years', '23 years - 35 years',
       '25 years - 41 years', '17 years - 25 years',
       '16 years - 32 years', '28 years - 99 years',
       '16 years - 45 years', '23 years - 71 years',
       '18 years - 37 years', '18 years - 81 years',
       '16 years - 33 years', '18 years - 99 years',
       '17 years - 99 years', '21 years - 75 years',
       '16 years - 47 years', '25 years - 33 years',
       '18 years - 23 years', '17 years - 24 years',
       '20 years - 26 years', '18 years - 72 years',
       '17 years - 29 years', '24 years - 36 years',
       '16 years - 41 years', '21 years - 30 years',
       '19 years - 99 years', '19 years - 26 years',
       '19 years - 28 years', '16 years - 20 years',
       '17 years - 21 years', '17 years - 26 years',
       '20 years - 30 years', '17 years - 89 years',
       '21 years - 25 years', '21 years - 28 years',
       '22 years - 35 years', '16 years - 29 years',
       '19 years - 29 years', '27 years - 60 years',
       '17 years - 50 years', '18 years - 26 years',
       '24 years - 30 years', '20 years - 60 years',
       '28 years - 40 years', '16 years - 54 years',
       '22 years - 70 years', '20 years - 27 years',
       '20 years - 99 years', '35 years - 40 years',
       '21 years - 35 years', '27 years - 35 years',
       '25 years - 56 years', '16 years - 27 years',
       '21 years - 45 years', '16 years - 26 years',
       '21 years - 70 years', '19 years - 40 years',
       '19 years - 22 years', '21 years - 26 years',
       '30 years - 65 years', '18 years - 80 years',
       '18 years - 55 years', '20 years - 45 years',
       '23 years - 40 years', '20 years - 31 years',
       '20 years - 35 years', '18 years - 24 years',
       '18 years - 33 years', '18 years - 49 years',
       '23 years - 99 years', '17 years - 23 years',
       '17 years - 28 years', '18 years - 34 years',
       '25 years - 36 years', '24 years - 40 years',
       '16 years - 38 years', '19 years - 30 years',
       '20 years - 32 years', '26 years - 35 years',
       '18 years - 48 years', '22 years - 50 years',
       '18 years - 21 years', '24 years - 55 years',
       '16 years - 31 years', '25 years - 29 years',
       '20 years - 28 years', '30 years - 36 years',
       '20 years - 55 years', '24 years - 42 years',
       '16 years - 51 years', '16 years - 55 years',
       '25 years - 75 years', '20 years - 41 years',
       '16 years - 60 years', '24 years - 50 years',
       '18 years - 22 years', '16 years - 58 years',
       '22 years - 29 years', '24 years - 28 years',
       '25 years - 40 years', '25 years - 70 years',
       '25 years - 55 years', '17 years - 27 years',
       '20 years - 34 years', '18 years - 50 years',
       '19 years - 24 years', '19 years - 39 years',
       '17 years - 60 years', '19 years - 35 years',
       '17 years - 65 years', '23 years - 49 years',
       '18 years - 60 years', '23 years - 60 years',
       '25 years - 100 years', '18 years - 75 years',
       '18 years - 31 years', '20 years - 50 years',
       '25 years - 35 years', '18 years - 92 years',
       '25 years - 71 years', '25 years - 34 years',
       '16 years - 23 years', '24 years - 45 years',
       '18 years - 46 years', '17 years - 40 years',
       '22 years - 36 years', '18 years - 39 years',
       '16 years - 66 years', '25 years - 45 years',
       '16 years - 34 years', '23 years - 33 years',
       '18 years - 45 years', '20 years - 33 years',
       '23 years - 45 years', '18 years - 65 years',
       '23 years - 38 years', '22 years - 30 years',
       '20 years - 90 years', '18 years - 70 years',
       '30 years - 50 years', '21 years - 33 years',
       '20 years - 38 years', '16 years - 94 years',
       '16 years - 19 years', '20 years - 25 years',
       '26 years - 99 years', '25 years - 50 years',
       '20 years - 53 years', '20 years - 70 years',
       '21 years - 31 years', '16 years - 70 years',
       '23 years - 34 years', '22 years - 45 years',
       '20 years - 29 years', '19 years - 65 years',
       '17 years - 37 years', '21 years - 29 years',
       '30 years - 57 years', '19 years - 27 years',
       '23 years - 30 years', '18 years - 42 years',
       '18 years - 64 years', '18 years - 20 years',
       '19 years - 38 years', '16 years - 18 years',
       '22 years - 44 years', '16 years - 62 years',
       '16 years - 69 years', '22 years - 33 years',
       '21 years - 80 years', '17 years - 32 years',
       '19 years - 60 years', '18 years - 61 years',
       '20 years - 24 years', '19 years - 33 years',
       '17 years - 19 years', '26 years - 40 years',
       '22 years - 25 years', '20 years - 37 years',
       '25 years - 44 years', '16 years - 97 years',
       '17 years - 36 years', '21 years - 65 years',
       '23 years - 50 years', '18 years - 69 years',
       '18 years - 97 years', '20 years - 75 years',
       '16 years - 44 years', '18 years - 90 years',
       '24 years - 32 years', '22 years - 27 years',
       '22 years - 42 years', '25 years - 38 years',
       '25 years - 32 years', '28 years - 37 years',
       '17 years - 77 years', '23 years - 42 years',
       '25 years - 42 years', '20 years - 44 years',
       '16 years - 90 years', '30 years - 40 years',
       '19 years - 36 years', '21 years - 27 years',
       '25 years - 80 years', '23 years - 31 years',
       '19 years - 31 years', '19 years - 32 years',
       '25 years - 48 years', '25 years - 61 years',
       '16 years - 82 years', '28 years - 39 years',
       '21 years - 60 years', '16 years - 59 years',
       '23 years - 36 years', '22 years - 34 years',
       '25 years - 37 years', '24 years - 39 years',
       '18 years - Not important', '18 years - 41 years',
       '28 years - 45 years', '21 years - 42 years',
       '21 years - 39 years', '22 years - 38 years',
       '24 years - 34 years', '23 years - 43 years',
       '28 years - 50 years', '24 years - 37 years',
       '20 years - 43 years', '30 years - 45 years',
       '20 years - 23 years', '17 years - 33 years',
       '16 years - 36 years', '19 years - 23 years',
       '17 years - 70 years', '45 years - 99 years',
       '23 years - 32 years', '17 years - 74 years',
       '16 years - 42 years', '23 years - 65 years',
       '21 years - 32 years', '21 years - 36 years',
       '22 years - 26 years', '18 years - 51 years',
       '19 years - 59 years', '28 years - 55 years',
       '17 years - 17 years', '25 years - 65 years',
       '99 years - 99 years', '17 years - 41 years',
       '21 years - 55 years', '27 years - 99 years',
       '16 years - 61 years', '17 years - 55 years',
       '35 years - 70 years', '23 years - 70 years',
       '22 years - 49 years', '16 years - 96 years',
       '22 years - 80 years', '22 years - 31 years',
       '16 years - 46 years', '23 years - 39 years',
       '25 years - 30 years', '32 years - 65 years',
       '24 years - 38 years', '25 years - 74 years',
       '26 years - 36 years', '18 years - 91 years',
       '22 years - 39 years', '21 years - 49 years',
       '22 years - 28 years', '20 years - 36 years',
       '16 years - 77 years', '18 years - 66 years',
       '22 years - 55 years', '21 years - 37 years',
       '18 years - 100 years', '27 years - 40 years',
       '26 years - 37 years', '18 years - 38 years',
       '25 years - 81 years', '17 years - 45 years',
       '30 years - 55 years', '35 years - 60 years',
       '25 years - 46 years', '24 years - 29 years',
       '16 years - 85 years', '25 years - 66 years',
       '20 years - 49 years', '26 years - 56 years',
       '19 years - 21 years', '25 years - 52 years',
       '31 years - 99 years', '25 years - 54 years',
       '25 years - 63 years', '50 years - 99 years',
       '18 years - 68 years', '21 years - 51 years',
       '18 years - 44 years', '26 years - 31 years',
       '24 years - 60 years', '19 years - 34 years',
       '16 years - 39 years', '18 years - 47 years',
       '26 years - 32 years', '16 years - 72 years',
       '30 years - 80 years', '30 years - 70 years',
       '23 years - 48 years', '17 years - 48 years',
       '16 years - 48 years', '17 years - 64 years',
       '19 years - 43 years', '20 years - 56 years',
       '20 years - 66 years', '28 years - 79 years',
       '18 years - 59 years', '23 years - 27 years',
       '22 years - 32 years', '35 years - 50 years',
       '26 years - 45 years', '18 years - 58 years',
       '21 years - 50 years', '23 years - 26 years',
       '20 years - 39 years', '35 years - 65 years',
       '43 years - 99 years', '21 years - 38 years',
       '26 years - 33 years', '47 years - 99 years',
       '27 years - 37 years', '16 years - 67 years',
       '40 years - 99 years', '20 years - 69 years',
       '29 years - 44 years', '24 years - 47 years',
       '21 years - 34 years', '27 years - 75 years',
       '26 years - 55 years', '24 years - 44 years',
       '20 years - 42 years', '19 years - 95 years',
       '35 years - 75 years', '23 years - 37 years',
       '20 years - 54 years', '39 years - 67 years',
       '16 years - 65 years', '31 years - 56 years',
       '20 years - 65 years', '19 years - 37 years',
       '19 years - 55 years', '25 years - 59 years',
       '25 years - 58 years', '29 years - 73 years',
       '16 years - 75 years', '23 years - 28 years',
       '29 years - 99 years', '24 years - 46 years',
       '23 years - 80 years', '17 years - 56 years',
       '16 years - 89 years', '27 years - 47 years',
       '27 years - 39 years', '35 years - 63 years',
       '18 years - 96 years', '27 years - 64 years',
       '26 years - 42 years', '31 years - 40 years',
       '28 years - 65 years', '24 years - 51 years',
       '35 years - 59 years', '23 years - 29 years',
       '17 years - 39 years', '25 years - 64 years',
       '30 years - 60 years', '18 years - 56 years',
       '26 years - 58 years', '22 years - 46 years',
       '20 years - 48 years', '16 years - 98 years',
       '27 years - 80 years', '29 years - 37 years',
       '19 years - 41 years', '16 years - 56 years',
       '22 years - 65 years', '35 years - 99 years',
       '41 years - 61 years', '25 years - 39 years',
       '21 years - 98 years', '20 years - 67 years',
       '23 years - 98 years', '16 years - 80 years',
       '20 years - 59 years', '23 years - 55 years',
       '17 years - 59 years', '22 years - 71 years',
       '31 years - 82 years', '25 years - 31 years',
       '16 years - 53 years', '20 years - 80 years',
       '22 years - 51 years', '26 years - 38 years',
       '19 years - 54 years', '31 years - 80 years',
       '24 years - 57 years', '16 years - 79 years',
       '24 years - 33 years', '28 years - 56 years',
       '19 years - 75 years', '28 years - 61 years',
       '18 years - 52 years', '16 years - 52 years',
       '17 years - 31 years', '30 years - 75 years',
       '18 years - 19 years', '22 years - 60 years',
       '20 years - 22 years', '22 years - 37 years',
       '16 years - 71 years', '25 years - 25 years',
       '21 years - 58 years', '31 years - 54 years',
       '20 years - 58 years', '30 years - 37 years',
       '32 years - 99 years', '28 years - 35 years',
       '46 years - 99 years', '27 years - 50 years',
       '28 years - 46 years', '16 years - 64 years',
       '25 years - 57 years', '17 years - 49 years',
       '30 years - 39 years', '21 years - 43 years',
       '29 years - 48 years', '25 years - 69 years',
       '21 years - 24 years', '25 years - 28 years',
       '16 years - 88 years', '20 years - 89 years',
       '16 years - 93 years', '27 years - 44 years',
       '24 years - 31 years', '26 years - 34 years',
       '27 years - 34 years', '19 years - 47 years',
       '29 years - 35 years', '25 years - 49 years',
       '27 years - 68 years', '28 years - 36 years',
       '25 years - 85 years', '29 years - 38 years',
       '26 years - 65 years', '28 years - 59 years',
       '26 years - 43 years', '30 years - 35 years',
       '28 years - 69 years', '29 years - 62 years',
       '16 years - 57 years', '20 years - Not important',
       '19 years - 45 years', '16 years - 87 years',
       '37 years - 99 years', '21 years - 23 years',
       '34 years - 99 years', '24 years - 43 years',
       '17 years - 34 years', '18 years - 82 years',
       '30 years - 47 years', '28 years - 60 years',
       '25 years - 97 years', '18 years - 98 years',
       '24 years - 49 years', '24 years - 75 years',
       '21 years - 67 years', '23 years - 90 years',
       '18 years - 67 years', '28 years - 31 years',
       '19 years - 53 years', '18 years - 53 years',
       '18 years - 43 years', '26 years - 66 years',
       '19 years - 70 years', '18 years - 85 years',
       '24 years - 71 years', '16 years - 68 years',
       '23 years - 75 years', '29 years - 64 years',
       '24 years - 61 years', '18 years - 88 years',
       '21 years - 44 years', '22 years - 97 years',
       '16 years - 43 years', '16 years - 100 years',
       '28 years - 33 years', '26 years - 68 years',
       '35 years - 78 years', '18 years - 62 years',
       '27 years - 38 years', '16 years - 92 years',
       '18 years - 87 years', '35 years - 80 years',
       '22 years - 79 years', '28 years - 32 years',
       '21 years - 54 years', '18 years - 78 years',
       '29 years - 40 years', '21 years - 91 years',
       '23 years - 46 years', '26 years - 46 years',
       '27 years - 32 years', '25 years - 89 years',
       '21 years - 59 years', '28 years - 80 years',
       '18 years - 18 years', '49 years - 65 years',
       '25 years - 27 years', '29 years - 36 years',
       '27 years - 58 years', '24 years - 54 years',
       '24 years - 65 years', '26 years - 48 years',
       '19 years - 50 years', '27 years - 42 years',
       '25 years - 53 years', '19 years - 49 years',
       '35 years - 55 years', '28 years - 47 years',
       '21 years - 88 years', '20 years - 86 years',
       '23 years - 88 years', '26 years - 27 years',
       '24 years - 84 years', '17 years - 82 years',
       '25 years - 96 years', '24 years - 48 years',
       '19 years - 85 years', '27 years - 55 years',
       '16 years - 95 years', '30 years - 59 years',
       '31 years - 60 years', '27 years - 87 years',
       '23 years - 68 years', '23 years - 41 years',
       '28 years - 42 years', '28 years - 41 years',
       '27 years - 36 years', '28 years - 34 years',
       '16 years - 74 years', '25 years - 47 years',
       '25 years - 72 years', '22 years - 74 years',
       '19 years - 48 years', '21 years - 48 years',
       '18 years - 63 years', '17 years - 90 years',
       '34 years - 60 years', '19 years - 61 years',
       '44 years - 65 years', '27 years - 57 years',
       '21 years - 77 years', '30 years - 48 years',
       '25 years - 67 years', '22 years - 41 years',
       '23 years - 83 years', '35 years - 69 years',
       '29 years - 39 years', '23 years - 64 years',
       '21 years - 92 years', '16 years - 91 years',
       '40 years - 70 years', '18 years - 89 years',
       '21 years - 64 years', '30 years - 94 years',
       '29 years - 80 years', '19 years - 52 years',
       '20 years - 62 years', '28 years - 44 years',
       '20 years - 63 years', '26 years - 50 years',
       '26 years - 62 years', '23 years - 66 years',
       '36 years - 57 years', '16 years - 86 years',
       '18 years - 95 years', '21 years - 69 years',
       '18 years - 71 years', '20 years - 52 years',
       '20 years - 47 years', '29 years - 60 years',
       '17 years - 18 years', '27 years - 92 years',
       '27 years - 45 years', '16 years - 81 years',
       '24 years - 26 years', '24 years - 67 years',
       '21 years - 66 years', '21 years - 61 years',
       '44 years - 99 years', '31 years - 47 years',
       '26 years - 79 years', '21 years - 41 years',
       '19 years - 58 years', '22 years - 56 years',
       '22 years - 68 years', '23 years - 52 years',
       '25 years - 91 years', '20 years - 85 years',
       '23 years - 47 years'], dtype=object)

In [9]:
# great features from informational value: areaSqm, rentDetail, propertyType, furnish, internet, roommates, shower, toilet, kitchen, living, pets, smokingInside, matchCapacity, matchStatus
# not many values filled in for rentDetail, but it is still should be useful
# good features: energyLabel, gender, matchGender, matchLanguages
# decent features: city, postalCode, latitude, longitude, firstSeenAt, lastSeenAt, isRoomActive, rawAvailability, postedAgo, matchAge
# to predict: rent

In [10]:
from sklearn.preprocessing import LabelBinarizer

df = pd.read_csv("train.csv")
lb = LabelBinarizer(sparse_output=True)

df = df.join(pd.DataFrame.sparse.from_spmatrix(lb.fit_transform(df.pop('propertyType')), index=df.index, columns=lb.classes_))

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27915 entries, 0 to 27914
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        27915 non-null  int64
 1   title                     27915 non-null  object
 2   city                      27915 non-null  object
 3   postalCode                27915 non-null  object
 4   latitude                  27915 non-null  float64
 5   longitude                 27915 non-null  float64
 6   areaSqm                   27915 non-null  int64
 7   firstSeenAt               27915 non-null  object
 8   lastSeenAt                27915 non-null  object
 9   isRoomActive              27852 non-null  object
 10  rawAvailability           27915 non-null  object
 11  postedAgo                 27909 non-null  object
 12  descriptionNonTranslated  27804 non-null  object
 13  descriptionTranslated     17775 non-null  object
 14  rentDetail                20019 non-null  object
 15  furnish                   27701 non-null  object
 16  energyLabel               27852 non-null  object
 17  gender                    27379 non-null  object
 18  internet                  27852 non-null  object
 19  roommates                 27379 non-null  object
 20  shower                    27852 non-null  object
 21  toilet                    27852 non-null  object
 22  kitchen                   27852 non-null  object
 23  living                    27852 non-null  object
 24  pets                      27852 non-null  object
 25  smokingInside             27852 non-null  object
 26  matchAge                  27852 non-null  object
 27  matchGender               27852 non-null  object
 28  matchCapacity             27852 non-null  object
 29  matchLanguages            27852 non-null  object
 30  matchStatus               27852 non-null  object
 31  coverImageUrl             27915 non-null  object
 32  rent                      27915 non-null  int64
 33  Anti-squat                27915 non-null  Sparse[int64, 0]
 34  Apartment                 27915 non-null  Sparse[int64, 0]
 35  Room                      27915 non-null  Sparse[int64, 0]
 36  Student residence         27915 non-null  Sparse[int64, 0]
 37  Studio                    27915 non-null  Sparse[int64, 0]
dtypes: Sparse[int64, 0](5), float64(2), int64(3), object(28)
memory usage: 7.3+ MB

In [12]:
df.head()

,id,title,city,postalCode,latitude,longitude,areaSqm,firstSeenAt,lastSeenAt,isRoomActive,...,matchCapacity,matchLanguages,matchStatus,coverImageUrl,rent,Anti-squat,Apartment,Room,Student residence,Studio
0,0,West-Varkenoordseweg,Rotterdam,3074HN,51.896601,4.514993,14,2019-07-14 11:25:46.511000+00:00,2019-07-26 22:18:23.142000+00:00,True,...,1 person,Not important,Not important,https://resources.kamernet.nl/image/913b4b03-5...,500,0,0,1,0,0
1,3,Ruiterakker,Assen,9407BG,53.013494,6.561012,16,2019-07-14 11:25:46.988000+00:00,2019-07-18 22:00:31.174000+00:00,False,...,1 person,Not important,"Student, Working student",https://resources.kamernet.nl/image/84e95365-6...,290,0,0,1,0,0
2,8,Brusselseweg,Maastricht,6217GX,50.860841,5.671673,16,2019-07-14 11:25:47.814000+00:00,2019-08-10 00:14:27.130000+00:00,True,...,4 persons,Dutch English,Student,https://resources.kamernet.nl/image/6e625591-d...,425,0,0,1,0,0
3,10,Donkerslootstraat,Rotterdam,3074WL,51.893195,4.516478,25,2019-07-14 11:25:48.140000+00:00,2019-07-16 06:05:32.183000+00:00,False,...,4 persons,Dutch English Spanish French Italian German Po...,"Student, Working student, Working, Looking for...",https://resources.kamernet.nl/image/ea3aea77-0...,600,0,0,1,0,0
4,12,Vorselenburgstraat,Alphen aan den Rijn,2405XJ,52.122335,4.661434,10,2019-07-14 11:25:48.465000+00:00,2019-08-01 00:02:40.516000+00:00,True,...,1 person,Dutch English,"Student, Working student, Working",https://resources.kamernet.nl/image/d0780298-b...,425,0,0,1,0,0

In [4]:
class FCGDataset(Dataset):
    def __init__(self, file_dir):
        data = pd.read_csv(file_dir)
        used_columns = ["areaSqm", "rentDetail", "propertyType", "furnish", "internet", "roommates", "shower", "toilet", "kitchen", "living", "pets", "smokingInside", "matchCapacity", "rent"]
        one_hot_columns = ["rentDetail", "propertyType", "furnish", "internet", "roommates", "shower", "toilet", "kitchen", "living", "pets", "smokingInside", "matchCapacity"]
        data = data[used_columns]
        ohe_df = pd.get_dummies(data[one_hot_columns], drop_first=True)
        num_df = data.drop(one_hot_columns, axis=1)
        data = pd.concat([ohe_df, num_df], axis=1)
        self.features = data.drop("rent", axis=1).values
        self.target = torch.tensor(data["rent"].values)

    def __len__(self):
        return len(self.target)

    def __getitem__(self, idx):
        return self.features[idx], self.target[idx]

In [5]:
# neural network class
class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__()

        # First fully connected layer
        # input features: areaSqm (1) + rentDetail (2) + propertyType (5) + furnish (4) + internet (3) + roommates (11) + shower (4) + toilet (4) + kitchen (4) + living (4) + pets (4) + smokingInside (4) + matchCapacity (8) (+ matchStatus (4)) = 58
        self.fc1 = nn.Linear(41, 512)
        # self.fc2 = nn.Linear(512, 512)
        # self.dropout1 = nn.Dropout()
        self.fc3 = nn.Linear(512, 32)
        self.fc2 = nn.Linear(32, 1)

    def forward(self, x):
        x = self.fc1(x)
        x = F.relu(x)

        # x = self.fc2(x)
        # x = F.relu(x)

        # x = self.dropout1(x)

        x = self.fc3(x)
        x = F.relu(x)

        # x = self.dropout2(x)
        x = self.fc4(x)

        output = x
        return output

In [6]:
def train_loop(dataset, model, loss_fn, optimizer, batch_size):
    size = len(dataset)
    for batch in range(size // batch_size):
        X, y = dataset[batch * batch_size : (batch + 1) * batch_size]
        # Compute prediction and loss
        pred = model(X)
        loss = loss_fn(pred, y)

        # Backpropagation
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        if batch % 100 == 0:
            loss, current = loss.item(), batch * len(X)
            print(f"loss: {loss:>7f}  [{current:>5d}/{size:>5d}]")

In [7]:
learning_rate = 1e-3
batch_size = 2
epochs = 2
loss_fn = torch.nn.MSELoss(reduction='sum')
net = Net()
optimizer = optim.AdamW(net.parameters(), lr=learning_rate)

In [1]:
train_data = FCGDataset("train.csv")
print("Done!")
for t in range(epochs):
    print(f"Epoch {t+1}\n-------------------------------")
    train_loop(train_data, net, loss_fn, optimizer, batch_size)
print("Done!")

NameError: name 'FCGDataset' is not defined

In [5]:
import pandas as pd
import torch
import numpy as np
file_dir = "train.csv"
data = pd.read_csv(file_dir)
used_columns = ["areaSqm", "rentDetail", "propertyType", "furnish", "internet", "roommates", "shower", "toilet", "kitchen", "living", "pets", "smokingInside", "matchCapacity", "rent"]
one_hot_columns = ["rentDetail", "propertyType", "furnish", "internet", "roommates", "shower", "toilet", "kitchen", "living", "pets", "smokingInside", "matchCapacity"]
data = data[used_columns]
ohe_df = pd.get_dummies(data[one_hot_columns], drop_first=True)
num_df = data.drop(one_hot_columns, axis=1)
data = pd.concat([ohe_df, num_df], axis=1)

In [9]:
dropped = data.drop("rent", axis=1)
values = dropped.values
values

array([[ 0,  1,  0, ...,  0,  0, 14],
       [ 0,  1,  0, ...,  0,  0, 16],
       [ 0,  1,  0, ...,  0,  0, 16],
       ...,
       [ 0,  1,  0, ...,  1,  0, 28],
       [ 0,  1,  0, ...,  0,  0, 35],
       [ 0,  0,  0, ...,  0,  0, 25]])

In [12]:
# features = torch.tensor(data.drop("rent", axis=1).values)

In [10]:
targets = torch.tensor(data["rent"].values)

In [1]:
targets

NameError: name 'targets' is not defined

In [6]:
torch.from_numpy(values)

tensor([[ 0,  1,  0,  ...,  0,  0, 14],
        [ 0,  1,  0,  ...,  0,  0, 16],
        [ 0,  1,  0,  ...,  0,  0, 16],
        ...,
        [ 0,  1,  0,  ...,  1,  0, 28],
        [ 0,  1,  0,  ...,  0,  0, 35],
        [ 0,  0,  0,  ...,  0,  0, 25]])

In [4]:
type(values)

numpy.ndarray

In [12]:
values_first_40 = np.interp(values[:40], (0, 1), (0.0001, 0.9999))
values_last = np.interp(values[40], (np.min(values[40]), np.max(values[40])), (0.0001, 0.9999))

In [12]:
value_tensor = torch.Tensor(values)

In [13]:
values_first_40

array([[1.000e-04, 9.999e-01, 1.000e-04, ..., 1.000e-04, 1.000e-04,
        9.999e-01],
       [1.000e-04, 9.999e-01, 1.000e-04, ..., 1.000e-04, 1.000e-04,
        9.999e-01],
       [1.000e-04, 9.999e-01, 1.000e-04, ..., 1.000e-04, 1.000e-04,
        9.999e-01],
       ...,
       [1.000e-04, 9.999e-01, 1.000e-04, ..., 1.000e-04, 1.000e-04,
        9.999e-01],
       [1.000e-04, 9.999e-01, 1.000e-04, ..., 1.000e-04, 1.000e-04,
        9.999e-01],
       [1.000e-04, 9.999e-01, 1.000e-04, ..., 1.000e-04, 1.000e-04,
        9.999e-01]])

In [14]:
values_last

array([1.34306667e-02, 1.00000000e-04, 1.00000000e-04, 1.00000000e-04,
       1.00000000e-04, 1.00000000e-04, 1.00000000e-04, 1.34306667e-02,
       1.00000000e-04, 1.00000000e-04, 1.00000000e-04, 1.00000000e-04,
       1.00000000e-04, 1.00000000e-04, 1.00000000e-04, 1.00000000e-04,
       1.00000000e-04, 1.00000000e-04, 1.00000000e-04, 1.34306667e-02,
       1.00000000e-04, 1.34306667e-02, 1.00000000e-04, 1.00000000e-04,
       1.00000000e-04, 1.34306667e-02, 1.00000000e-04, 1.34306667e-02,
       1.00000000e-04, 1.00000000e-04, 1.34306667e-02, 1.00000000e-04,
       1.00000000e-04, 1.34306667e-02, 1.34306667e-02, 1.00000000e-04,
       1.00000000e-04, 1.00000000e-04, 1.00000000e-04, 1.00000000e-04,
       9.99900000e-01])